<connectionStrings>
  <!--Local Connection Strings-->
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront-20210915104117.mdf;Initial Catalog=aspnet-StoreFront-20210915104117;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFront.csdl|res://*/StoreFront.ssdl|res://*/StoreFront.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=StoreFront;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <!--Live Connection Strings-->
  <add name="DefaultConnection" connectionString="Data Source=SQL5108.site4now.net;Initial Catalog=db_a77745_storefront;User Id=db_a77745_storefront_admin;Password=B@j0ngles" providerName="System.Data.SqlClient" />
  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFront.csdl|res://*/StoreFront.ssdl|res://*/StoreFront.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5108.site4now.net;Initial Catalog=db_a77745_storefront;User Id=db_a77745_storefront_admin;Password=YOUR_DB_PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
</connectionStrings>